p {
    padding: 1rem;
    font-size: 14px;
}

h1 {
    font-weight: bolder;
}

.requesting {
    color: cyan;
}

.success {
    color: rgb(100, 248, 74);
}

.error {
    color: rgb(208, 65, 65);
}

ion-title {
    color: #FFFFFF;
}