.set-button-style {
    margin-top: 1rem;
}

.connected-style {
    color: black;
    background-color: rgb(157, 241, 30);
}

.not-connected-style {
    color: gray;
    background-color: lightgray;
}


ion-content ion-card {
    --ion-background: transparent;
}

ion-card-content {
    --ion-background: transparent;
    --ion-text-color: black !important;
}

.txt-black {
    --ion-text-color: black !important;
    color: black !important;
}