<app-header title='Wifi Logger for ESP'></app-header>

<ion-content class="bg-black abel" scrollY="true">
    <ion-row class="connected-style">
        <ion-col>
            <div class="ion-text-center">
                <ion-label lines="none">
                    <h2><strong>CONNECTED</strong></h2>
                    <ion-icon size="large" name="wifi"></ion-icon>
                    <!-- <h3>{{statusService.state.localIp}}</h3> -->
                </ion-label>
                <ion-label lines="none">
                    <h2><strong>NOT CONNECTED</strong></h2>
                    <ion-icon size="large" name="alert-circle-outline"></ion-icon>
                </ion-label>
            </div>
        </ion-col>
    </ion-row>
    <h6 style="background-color: transparent; color: cyan" class="text-center">BLUETOOTH CONNECTED</h6>
    <ion-card class="abel">
        <ion-card-header>
            <ion-card-subtitle class="text-center txt-black">Wifi Logger</ion-card-subtitle>
            <ion-card-title class="text-center" style="color: rgb(99, 110, 110)">WiFi</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="wifiForm" (ngSubmit)="logForm()">
                <div>
                    <ion-item>
                        <ion-input type="text" placeholder="SSID" formControlName="ssid"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                    </ion-item>
                </div>
                <hr>
                <ion-row style="background: none !important;" class="mt-2">
                    <ion-checkbox [disabled]="!wifiForm.valid"></ion-checkbox>
                    <ion-label style="color: black;"> Remember parameters </ion-label>
                </ion-row>
                <div class="text-center">
                    <ion-button type="submit" expand="block" color="dark" class="set-button-style"
                        [disabled]="!wifiForm.valid">SET</ion-button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>
    <!-- <h6 *ngIf="showConsole" style="background-color: transparent; color: black" class="text-center">{{serialData.lastStr}}</h6>
    <app-console *ngIf="showConsole"  [showButtons]="false" [serialData]="serialData"></app-console> -->
</ion-content>