#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.connected-frame {
  color: rgb(7, 26, 1);
  text-align: center;
  padding: 0.5rem;
  background-color: transparent;
  padding-bottom: 1rem;
}

.bg-seagreen {
  background: -webkit-linear-gradient(-90deg, #34e06d 60%, rgb(3, 110, 39) 100%);
}

.black-shadowed-text {
  text-shadow: 2px 2px 4px #024219;
}

.center-shadow-box {
  text-align: center;
  box-shadow: 3px 3px 3px black;
}

.lbl-h4 {
  background: transparent;
  height: 4rem;
}

.p1 {
  padding: 1rem;
}

.stored-device {
  color: rgb(20, 20, 20);
  background: rgb(238, 234, 234);
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border: solid 0.3px lightblue;
  border-radius: 2%;
  text-align: center;
}

.log {
  color: black;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border: solid 0.3px lightblue;
  border-radius: 2%;
}

.fs1rem {
  font-size: 1rem;
}

.fs3px {
  font-size: 3px;
}

.text-right {
  text-align: right;
}

.terminal-input {
  background: rgb(0, 0, 12);
  color: greenyellow;
  border-radius: 2%;
}

.overflow-scroll {
  overflow: scroll;
}

.text-black {
  color: black;
}

.text-black {
  color: blacksmoke;
}

.text-black {
  color: black;
}

.my-custom-class {
  --background: #222;
}

ion-content {
  --background: -webkit-linear-gradient(-90deg, #1f2420 25%, rgb(77, 73, 73) 100%);
}

ion-card {
  --background: rgb(235, 84, 84);
}


ion-row {
  --background: rgb(47, 47, 51);
}